header
    a.logo(href="/") 
        img(src=img+"logo.svg", alt="")
    input(type="checkbox" id="menu-bar")
    label.main-menu-btn-icon(for="menu-bar") 
    nav.navbar                                                     
        ul 
            li 
                a(href="#") Home
            li 
                a(href="#") About Us
            li 
                a(href="#") Equipment and accessories
            li 
                a(href="#") Services
            li 
                a(href="#") Contact
    a.btn(href="#") Call now